.partida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    background-color: transparent;

}

.partida_jogador {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 95%;
    height: 200px;
    font-size: 30px;
    box-shadow: rgba(155, 137, 72, 0.3);
    text-transform: uppercase;
    border-radius: 10px;
}

.partida_jogador div {
    width: 94%;
    height: 90%;
    background: rgba(77, 83, 89, 1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 50px;
    color: white;
}

.partida_controle,
.partida_x,
.partida_fight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    font-size: 50px;
    margin: 15px;
    transition: background-color 1s ease-in, color 1s ease-in, color 1s ease-in, font-weight 0.3s ease-in;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translate(-400px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.partida_fight {
    background: #4D5359;
    color: white;
    text-transform: uppercase;
    font-weight: 1000;
    border-radius: 10px;
    animation: slide 0.3s ease-out forwards;
}

.partida_fight:hover {
    cursor: pointer;
}

.partida_start {
    background: #4D5359;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 20px;
    font-size: 45px;
    color: white;
    font-weight: 900;
}

.partida_start:hover {
    cursor: pointer;
    background-color: #636a71;
}