.menuBar {
    width: 100%;
    height: 70px;
    background: #4A4238;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
}

.menuBar_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    height: 99%;
    color: white;
}

.menuBar_item:last-child {
    position: absolute;
    right: 0px;
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.menuBar_item:hover {
    font-size: 24px;
    transition: font-size 0.5s ease-in-out;
    cursor: pointer;
}

.menuBar_item label:hover {
    cursor: pointer;
}