.cadForm form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98.5%;
    height: 100%;
    flex-direction: column;
    gap: 10px;

}

.cadForm input[type="text"] {
    width: 96%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;

}

.cadForm button {
    width: 97%;
    height: 50px;
    background-color: rgb(251, 255, 252);
    font-size: 23px;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    transition: border 1s ease, border-radius 1s ease, background-color 1s ease, font-size 1s ease;
}


.cadForm button:hover {
    background-color: rgb(200, 241, 184);
    font-size: 30px;
    color: rgb(0, 0, 0);
}